@import url('https://fonts.googleapis.com/css?family=Lato:300|Oswald&display=swap');
body{
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

nav ul{
    height: 50px;
    list-style: none;
    background-color: #4a4a4f;
    text-align: center;
    padding: 0;
    margin: 0;
}

nav li{
    font-size: 1.2em;
    line-height: 40px;

    height: 15px;
    display: inline-block;
    margin: 5px 20px;
    
}

nav a{
    text-decoration: none;
    color: #fff;
    display: block;
}

nav a:hover{
    background-color: #fff;
    color: #4a4a4f;
}

.card{
    float: left;
    width: 20%;
    margin-left: 10%;

}

.card a{
    text-align: center;
}

img{
    width: 100%;
    height: 180px;
}

h1 {
    text-align: center;
    
}

#selected{
    background-color: #fff;
    color: #4a4a4f;
}
